* {
    color: #515A70;
    font-size: 14px;
    line-height: 1.8;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

/*个性化设置样式*/
h1 {
    font-size: 2em;
}
li{

}

a:hover{
    color: #2d8cf0;
    text-decoration-line: none;
}

hr{
    background-color: #eaecef;
}


/*自定义样式*/
.btn--default {
    background: red;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    /* text-align: center; */
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
/* 在添加浮动的标签结尾处加空div标签 */
.clearfloat{
    clear: both;
}

/* 给添加浮动的父级div加伪类 */
.clearfix::after {
    content: "";
    display:block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
.coder{
    border-radius: 10px;
    text-align: left;
}


/*table的相关设置*/
table {
    border: 1px solid #e9e9e9;
}
table th {
    background: #f7f7f7;
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 600;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table td,table th {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}